h2 {
  font-size: x-large;
  color: white;
}

img {
  border-radius: 5px;
}

.movie {
  margin: 20px 0;

  .movie__images {
    div.thumbnails .carousel {
      width:100%;
      display: flex;
      .slick-prev:before, .slick-next:before {
        color: #ffc800;
      }

      .slick-item {
        transition: all 0.3s ease;
        img {
          background: #1d1d1d;
          padding: 5px;
        }
      }

      .slick-item:hover {
        transform: scale(1.02);
        cursor: pointer;
      }
    }
  }
}
