<div class="container">
    <div class="header">
      <!--BANNER AREA-->
      <div class="header__banner"
           [ngStyle]="{
        'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
        }">
        <!--<h2>{{trending[0].titulo}}</h2>-->
        <h2>¡Resistiré!</h2>
        <div class="header__buttons">
  
          <button class="play-button">
            <!-- <mat-icon>arrow_right</mat-icon> -->
            <span>Play</span>
          </button>
  
          <button class="more-button">
            <!-- <mat-icon>info</mat-icon> -->
            <span>Más información</span>
          </button>
  
        </div>
  
  
      </div>  <!--BANNER ENDS HERE-->
  
  
      <!--MAIN AREA-->
     <div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
       <div class="header__left">
         <a routerLink="/">
           <img src="assets/pmfyc.svg" alt="logo">
         </a>
         <ul>
           <li class="active"><a href="#">Inicio</a></li>
           <li><a href="#">Mi Lista</a></li>
           <li><a href="#">Visto recientemente</a></li>
         </ul>
       </div>

       <div id="circularMenu" class="circular-menu" #circularMenu>

        <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
          <i class="icon icon-accessibility"></i>
        </a>
      
        <menu class="items-wrapper">
          <a class="menu-item" href="#"><img src='assets/icon/bataicon.png' title="Perfil" class="bataicon"/></a>
          <a class="menu-item" href="#"><img src='assets/icon/carpeticon.png' title="Mensajes"  class="carpeticon"/></a>
          <a class="menu-item" href="#"(click)="logout()"><img src='assets/icon/coraicon.png' title="Salir"  class="coraicon"/></a>
        </menu>
      
      </div>
     </div>  
  
    </div>

    <!--HEADER MAIN ENDS HERE-->
  
    <div class="body" style="margin-top: 30rem;">
      <app-slider title="Más vistos" [videos]="trending" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Vendajes" [videos]="vendajes" [sliderConfig]="sliderConfig"></app-slider>
      <app-slider title="Material" [videos]="material" [sliderConfig]="sliderConfig"></app-slider>
    </div>
  
  
  
  </div>
  